<main class="relative w-full h-screen">
  <div class="relative h-full">
    <img
      src="/img/fondo-lp.jpg"
      alt="fondo karting"
      class="absolute left-0 w-full h-full object-cover"
    />
    <div class="absolute h-1/2 inset-x-0 bottom-0 bg-gradient-to-t from-white dark:from-gray-900 to-transparent"></div>
    <div
      class="absolute top-1/2 md:right-10 transform -translate-y-1/2 bg-white dark:bg-gray-900 dark:bg-opacity-90 dark:text-white bg-opacity-90 p-6 md:max-w-sm rounded-lg shadow-lg mx-4 md:mx-0"
    >
      <span class="text-2xl font-bold block mb-4">Karting Club Loja</span>
      <p class="mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Atque enim, cumque iure dignissimos ducimus quos sapiente aperiam ab
        laboriosam nihil, fugiat quam qui accusamus quasi quo deserunt numquam
        quas vero.</p>
      <div>
        <a
          href="/users/signin"
          class="text-blue-500 underline md:no-underline hover:underline"
        >Inicia sesión</a>
        o
        <a
          href="/users/signup"
          class="text-blue-500 underline md:no-underline hover:underline"
        >Regístrate</a>
      </div>
    </div>
  </div>
</main>