<footer class="bg-white border-gray-200 dark:bg-gray-900 dark:text-white py-8">
  <div class="max-w-screen-xl mx-auto px-4">
    <div
      class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0 md:space-x-8"
    >
      <div class="text-center max-w-md md:text-left">
        <h2 class="text-xl font-bold">Karting Club Loja</h2>
        <p class="mt-2 text-gray-600 dark:text-gray-300">Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Atque enim, cumque iure dignissimos ducimus quos
          sapiente aperiam ab laboriosam nihil.</p>
      </div>
      {{! <div class="text-center md:text-left">
        <h2 class="text-xl font-bold">Enlaces Rápidos</h2>
        <ul class="mt-2 space-y-2">
          <li><a href="/about" class="text-gray-400 hover:text-white">About</a></li>
          <li><a href="/users/register" class="text-gray-400 hover:text-white">Registro</a></li>
          <li><a href="/users/login" class="text-gray-400 hover:text-white">Inicia Sesión</a></li>
        </ul>
      </div> }}
      <div class="text-center md:text-left">
        <h2 class="text-xl font-bold">Contáctanos</h2>
        <ul class="mt-2 space-y-2  text-gray-600 dark:text-gray-300">
          <li>Email:
            <a
              href="mailto:contacto@kartingclubloja.com"
              class="dark:text-gray-300 hover:text-white"
            >contacto@kartingclubloja.com</a></li>
          <li>Teléfono: <span class="dark:text-gray-300">+593 987654321</span></li>
          <li>Dirección:
            <span class="dark:text-gray-300">Calle Falsa 123, Loja, Ecuador</span></li>
        </ul>
      </div>
    </div>
    <div class="mt-8 text-center text-gray-400 dark:text-gray-300">
      <p>&copy; 2024 Karting Club Loja. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>